html {
  height: 100%;
}
.rest_bg {
  background: url(../img/img_bg.png) no-repeat;
  background-size: cover;
  font-size: 12px;
  height: 100%;
  width: 100%;
}
.rest_bg .rest_page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  overflow: auto;
}
.rest_bg .rest_page .rest_header {
  height: 343px;
}
.rest_bg .rest_page .rest_header img {
  margin-top: 80px;
}
.rest_bg .rest_page .rest_content {
  margin: auto 220px 357px;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rest_bg .rest_page .rest_content .rest_wrapper {
  background: rgba(255, 255, 255, 0.92);
  width: 348px;
  height: 213px;
}
.rest_bg .rest_page .rest_content .rest_wrapper .rest_words {
  width: 324px;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid#D21212;
  text-indent: 24px;
}
.rest_bg .rest_page .rest_content .rest_wrapper .rest_words span {
  font-size: 22px;
  color: #272727;
  letter-spacing: 1.09px;
}
.rest_bg .rest_page .rest_content .rest_wrapper .email_box {
  width: 300px;
  height: 36px;
  margin: 0 auto;
}
.rest_bg .rest_page .rest_content .rest_wrapper .email_box .rest_password {
  font-weight: normal;
  font-size: 12px;
  color: #363636;
  margin-top: 20px;
}
.rest_bg .rest_page .rest_content .rest_wrapper .email_box #newPassword {
  border: 1px solid #B1B1B1;
  box-shadow: inset 0 0 4px 0 rgba(159, 159, 159, 0.5);
  width: 300px ;
  height: 36px;
  color: #272727;
  letter-spacing: 0.79px;
}
.rest_bg .rest_page .rest_content .rest_wrapper input#submit {
  width: 92px;
  height: 36px;
  color: #fff;
  background: #D21212;
  border-radius: 4px;
  margin: 66px 25px auto auto;
}
.rest_bg .rest_page .rest_content .page_describe {
  width: 568px;
  height: 272px;
  color: #FFffff;
}
.rest_bg .rest_page .rest_content .page_describe div:first-child {
  font-size: 52px;
  height: 56px;
  line-height: 56px;
  font-weight: bold;
}
.rest_bg .rest_page .rest_content .page_describe div:last-child {
  margin-top: 46px;
}
.rest_bg .rest_page .rest_content .page_describe div:last-child p {
  width: 554px;
  margin-top: 8px;
  padding-left: 12px;
  background: url(../img/but_Radio_selected.png) no-repeat 0 2px ;
  font-size: 14px;
}
#message{
  width: 450px;
  height: 200px;
  background:#fff;
  border:1px solid #FACADE;
  border-radius: 4px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  display:none;
  text-align: center;
  font-size: 16px;
  color: #333333;
  z-index:200;

}
#message p {
  line-height: 40px;
  height: 40px;
  width: 448px;
  background: #D12121;
  text-align: left;
  text-indent: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #F9CADE;
  margin: 0;
  color: #333333;
}
#message_contain{
  width: 450px;
  height: 110px;
  vertical-align: middle;
  display: table-cell;
}
#message_contain span{
  display: inline-block;
  padding: 0 20px;
}
#message #confirm_box span{
  background: #D21212;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  text-align: center;
  width: 66px;
  color: #fff;
  padding: 4px auto;
  display: block;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
}