<link rel="stylesheet" href="../css/password.css">
<div class="con_wrap">
    <div class="main_con">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="oldPass" class="col-sm-2 control-label">Old Password</label>
                <div class="col-sm-10 inputWrap">
                    <input type="password" class="form-control" id="oldPass" placeholder="Old Password" ng-model="oldPss" attr="false">
                </div>
                <!--错误提示框-->
                <div class="errorPrompt">
                    <span>Wrong Password！</span>
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPass" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-10 inputWrap">
                    <input type="password" class="form-control" id="newPass" placeholder="New Password" ng-model="newPass">
                </div>
                <!--错误提示框-->
                <div class="errorPrompt">
                    <span>Two inputs are not compatible</span>
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="passAgain" class="col-sm-2 control-label">Confirm the new password</label>
                <div class="col-sm-10 inputWrap">
                    <input type="password" class="form-control" id="passAgain" placeholder="Confirm" ng-model="passAgain" attr="false">
                </div>
                <!--错误提示框-->
                <div class="errorPrompt">
                    <span>Old and new passwords are different！</span>
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="form-group">
                <div id="submit">Submit</div>
            </div>
        </form>
    </div>
    <div class="pagesPrompt">It's the first page already</div>
</div>