<link rel="stylesheet" href="../css/profile.css">
<div class="box_wrap">
    <div class="wrap">
        <div class="form-box">
            <div class="input-box">
                <form class="form-inline">
                    <!--<div class="form-group one">-->
                        <!--<label for="password" class="label">Password</label>-->
                        <!--<input type="password" class="form-control" id="password" placeholder="" required minlength="6" title="Please enter your password">-->
                        <!--<span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>-->
                    <!--</div>-->
                    <!--<div class="form-group two">-->
                        <!--<label for="passwordAgain" class="label">Repassword</label>-->
                        <!--<input type="password" class="form-control" id="passwordAgain" placeholder="" required title="Please enter your password">-->
                        <!--<span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>-->
                    <!--</div>-->
                    <div class="form-group one">
                        <label for="firstName" class="label">First Name</label>
                        <input type="text" ng-model="firstName" class="form-control" id="firstName" placeholder="" required title=" Please enter your first name">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group two">
                        <label for="lastName" class="label">Last Name</label>
                        <input type="text" ng-model="lastName" class="form-control" id="lastName" placeholder="" required title="Please enter your last name">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group one">
                        <label for="company" class="label">Company</label>
                        <input type="text" ng-model="company" class="form-control" id="company" placeholder="" required title="Please enter your company">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group two">
                        <label for="email" class="label">Your Email</label>
                        <input type="email" ng-model="email" class="form-control" id="email" pattern=""  required title="Please enter your email">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group one">
                        <label for="phoneNumber" class="label">Phone Number</label>
                        <input type="text" ng-model="phoneNumber" class="form-control" id="phoneNumber" placeholder="" required maxlength="11" title="Please enter your phone number">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group two">
                        <label for="officePhoneNumber" class="label">Office Phone Number</label>
                        <input type="text" ng-model="officePhoneNumber" class="form-control" id="officePhoneNumber" placeholder="" required title="Please enter your office phone number">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group one">
                        <label for="contactInformation" class="label">Skype/QQ</label>
                        <input type="text" ng-model="contactInformation" class="form-control" id="contactInformation" placeholder="" required title="Please enter your Skype or QQ">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group two">
                        <label for="website" class="label">Company’s Website</label>
                        <input type="text" ng-model="website" class="form-control" id="website" placeholder="" required title="Please enter your company's website">
                        <span class="verification">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>

                    <div class="form-group one">
                        <label for="link" class="label">Company’s Linkin link</label>
                        <input type="text" ng-model="link" class="form-control especially" id="link" placeholder="" required title="Please enter your company's linkin link">
                        <span class="verification tishi">*&nbsp;The two input is inconsistent&nbsp;*</span>
                    </div>
                    <div class="form-group one" id="OfferemailWrap">
                        <label for="offerEmail" class="label">Offeremail</label>
                        <input type="email"  class="form-control" id="offerEmail" placeholder="" required title="Please enter email">
                        <em class="add"></em>
                    </div>
                    <div class="form-group two" id="billingEmailWrap">
                        <label for="billingEmail" class="label">Billingemail</label>
                        <input type="email"  class="form-control" id="billingEmail" placeholder="" required title="Please enter email">
                        <em class="add"></em>
                    </div>
                    <button type="button" class="btn btn-default" id="btn">Save</button>
                </form>
            </div>
            <div class="prompt">
                Delete successfully
            </div>
        </div>
    </div>
</div>

