.bigBoxWrap{
    width:740px;
    height: 566px;
    position: fixed;
    top:0;bottom: 0;
    left:0;right:0;
    margin: auto;
    background-color: #FFFFFF;
    padding-left: 25px;
    padding-top: 1px;
    display: none;
}
.closeBtn{
    width: 16px;height: 16px;
    position: absolute;
    top:10px;right:10px;
    cursor: pointer;
}
.closeBtn img{
    display: block;
    width:100%;height: 100%;
}
.addCartBox{
    width: 100%;
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
}
.addCartBox .title{
    font-family:PingFang-SC-Medium;
    font-size: 25px;
    color: #272727;
    letter-spacing:1.25px;
}
div.inputBox{
    width: 450px;
    margin: 0 auto;
    line-height: 36px;
}
.form-group.inputCon{
    margin-top: 15px;
    width:450px;
}
.form-inline label{
    margin-right: 10px;
    float: right;
}
input#AffId{
    outline:none;
    border: none;
    width: 100%;
}
input#cap.active:focus{
    border: 1px solid #9F0E0E;
    box-shadow: 0 0 5px #9F0E0E;
}
input#payout.active:focus{
    border: 1px solid #9F0E0E;
    box-shadow: 0 0 5px #9F0E0E;
}
input#margin.active:focus{
    border: 1px solid #9F0E0E;
    box-shadow: 0 0 5px #9F0E0E;
}
input#profit.active:focus{
    border: 1px solid #9F0E0E;
    box-shadow: 0 0 5px #9F0E0E;
}
input#profit.active:focus{
    border: 1px solid #9F0E0E;
    box-shadow: 0 0 5px #9F0E0E;
}
input#AffId:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 5px transparent;
}
input#AffId.active:focus{
    border: 1px solid #9F0E0E;
    box-shadow: 0 0 5px #9F0E0E;
}
.form-control.con,.moreIdWrap{
    width: 360px;height: 36px;
}
input.form-control,.moreIdWrap{
    float: right;
}
.moreIdWrap{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.affIdList{
    width: 100%;
    position: absolute;
    top:38px;
    left: 0;
    background: #F5F5F5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    max-height: 300px;
    overflow: auto;
    border-radius: 2px;
    display: none;
}
.affIdList li{
    width: 100%;
    padding-left: 15px;
    height: 25px;
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #272727;
}
.affIdList li:hover{
    background: #D21212;
    color: #ffffff;
}
.moreIdWrap span{
    display: inline-block;
    padding:0px 3px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin:6px 0 0 5px;
    background: #FF9F9F;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.moreIdWrap span.special{
    background: #9F0E0E;
}
.radio{
    width: 100%;
    position: relative;
    margin-top: 12px;
}
.radioWrap{
    padding-top: 1px;
    width: 55px;
    margin-left: 90px;
    cursor: pointer;
}
.radioWrap:after{
    content: "";
    width: 100%;
    display: block;
    clear: both;
}
.radio em{
    display: inline-block;
    width: 14px;height: 14px;
    margin-top: 0px;
    float: left;
}
.form-inline:after{
    content: "";
    width: 100%;
    display: block;
    clear: both;
}
.radio span{
    font-size: 12px;
    color: #585858;
    float: left;
    padding-left: 5px;
}
#view,#save{
    width: 64px;height: 36px;
    text-align: center;
    line-height: 36px;
    float: right;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 20px;
}
#view{
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    margin-right: 10px;
}
#save{
    background: #D21212;
    border: 1px solid #9F0E0E;
    border-radius: 2px;

}