@font-face {
    font-family: "HelveticaNeue_Medium";
    src:url("../font/HelveticaNeue_Medium.ttf");
}
@font-face {
    font-family: "HelveticaNeue";
    src:url("../font/Helvetica Neue CE 55 Roman.ttf");
}