
<link rel="stylesheet" href="../css/addCart.css">
<div class="bigBoxWrap">
<div class="addCartBox">
    <p class="title">App Send Details</p>
    <div class="inputBox">
        <form class="form-inline">
            <div class="form-group inputCon">
                <div class="moreIdWrap">
                    <input type="text" class="form-control" id="AffId" placeholder="" ng-disabled="checkFlag()">
                    <ul class="affIdList">
                        <li ng-repeat="item in data" class="AffIds">{{item}}</li>
                    </ul>
                </div>
                <label for="AffId">Aff ID</label>
            </div>
            <div class="form-group inputCon">

                <input type="text" class="form-control con" id="cap" placeholder="" ng-model="cap">
                <label for="cap">Cap</label>
            </div>
            <div class="form-group inputCon">

                <input type="text" class="form-control con" id="payout" placeholder="" ng-model="payout">
                <label for="payout">Payout</label>
            </div>
            <div class="form-group inputCon">

                <input type="text" class="form-control con" id="margin" placeholder="" ng-model="margin">
                <label for="margin">Margin</label>
            </div>
            <div class="form-group inputCon">
                <input type="text" class="form-control con" id="profit" placeholder="" ng-model="profit">
                <label for="profit">Profit</label>
            </div>
            <div class="form-group inputCon">

                <input type="text" class="form-control con" id="shared" placeholder="" ng-model="shared">
                <label for="shared">Shared</label>
            </div>
            <div class="radio">
                <div class="radioWrap">
                    <em id="true">
                        <img src="../img/but_Checkbox_selected.png" alt="">
                    </em>
                    <span>Agree</span>
                </div>
            </div>
            <button id="save" ng-click="saveAjax()">Save</button>
            <button id="view">View</button>
        </form>

    </div>

</div>
</div>
