html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    background: url("../img/img_bg.png") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*点击多选的*/
 input#strongestGeos{
     outline:none;
     border: none;
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;

 }
input#strongestGeos:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 5px transparent;
}
.moreIdWrap{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 37px;
}
.countryList{
    width: 320PX;
    position: absolute;
    top: 37px;
    left: 0;
    background: #ccc;
    z-index: 10;
    overflow: auto;
    border-radius: 2px;
    display: none;
}
.countryList li{
    width: 100%;
    padding-left: 15px;
    height: 25px;
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #272727;
}
.countryList li:hover{
    background: #1E90ff;
    color: #ffffff;
}
.moreIdWrap span{
    display: inline-block;
    padding:0px 3px;
    height: 20px;
    width:90px ;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 20px;
    float: left;
    margin:6px 0 0 5px;
    background: #FF9F9F;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.moreIdWrap span.special{
    background: #9F0E0E;
}
/*点击多选结束*/
.mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;left: 0;
    background-color: rgba(0,0,0,0.65);
}
.box{
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 15px;
}
.wrap{
    width: 100%;position: relative;
    padding-top: 1px;
}
.logo-box{
    width: 130px;
    height: 34px;

}
.logo-box a,.logo-box a img{
    width: 100%;height: 100%;
    display: block;
}

.form-box{
    width: 100%;padding-top: 30px;
    position: relative;
}
.form-box p.title{
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.form-box p.remarks{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    margin-top: 4px;
}
.form-box .form-group{
    margin-top: 20px;
    display: block;
    color: white;
    font-size: 14px;
}
.form-box .form-group .label{
    display: block;
    text-align: left;
    padding:0 0 5px 0;
}
.form-box .form-group .form-control.one{
    background-color: transparent;
    width: 320px;height: 36px;
    color: #FFFFFF;
    font-size: 14px;
}
.form-box .form-group .form-control.two{
    background-color: transparent;
    width:970px;height: 36px;
    color: #FFFFFF;
    font-size: 14px;
}
.form-box .form-group .form-control.one option{
    background-color:#222222;
}
.form-box .form-group .question{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-bottom: 4px;
}
.form-group:after{
    content: "";
    width: 100%;
    display: block;
    clear: both;
}
.form-group .radio-inline{
    z-index: 99;
}
.circular{
    display: block;
    width:14px;height: 14px;
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -7px;
}

.select-list{
    width: 33.33%;
    position: relative;
    padding-top: 4px;
    float: left;
}
.select-list .checkbox-inline{
    display: block;
    margin: 0;
}
.select-list .checkbox-inline.top{
    margin-top: 6px;
}
.checkbox-inline input[type=checkbox]{
    margin-top: 0;
}
.form-group .input-text{
    display: block;
    width: 320px;height: 36px;
    background-color: transparent;
    color: white;
    line-height: 36px;
    font-size: 16px;
}
.form-group.especial .form-group{
    float: left;
}
.form-group.especial .form-group.two{
    margin-left: 100px;
}

.radio-inline.much-num{
    width: 24%;
    margin: 0;
    margin-top: 8px;
}

#btn{
    float: right;
    width: 136px;height:46px;
    margin-top: 100px;
    background: #D21212;
    border: 1px solid #9F0E0E;
    color: #FFFFFF;
    margin-bottom: 20px;
}
input.radio{
    opacity: 0;
}
.radio-inline.one{
    cursor: pointer;
}
input.radio-two{
    opacity: 0;
}
.form-group{
    position: relative;
}
i.special{
    font-size: 30px;
    color: #D21212;
    position: absolute;
    left: -18px;
    top:0;
}
i.verification{
    position: absolute;
    top:28px;
    right: -230px;
    color: red;
    width:228px;
    /*padding-left: 5px;*/
    display:none;
}
span.verification{
    position: absolute;
    top: 18px;
    right: -160px;
    color: red;
    width: 228px;
    display:none;
}